/* * FONTS */
@font-face {
  src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-weight: bold;
  src: url('../fonts/NotoSans-Bold.ttf');
}

@font-face {
  font-style: italic;
  src: url('../fonts/NotoSans-Italic.ttf');
}

@font-face {
  src: url('../fonts/NotoSansMono-Regular.ttf');
}

@font-face {
  font-weight: bold;
  src: url('../fonts/NotoSansMono-Bold.ttf');
}

/* * COLORS */
 body {
  font-size: 11px;
  font-family: 'Noto Sans';
  color: #272932;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #515477;
}

h1 {
  font-size: 15px;
}
 
h2 {
  font-size: 13px;
}
 
h3 {
  font-size: 12px;
}
 
h3 {
  font-size: 11px;
}

ul {
  list-style: none;
}

li::before {
  content: "▪"; 
  color: #515477;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

a {
  text-decoration:none;
}

.code {
  background:#f4f4fc;
  padding:5px;
  font-family: 'Noto Sans Mono';
}

dt {
  font-weight: 700;
}